/* section.css */

/* about */
#sec_about {
    background-color: white;
    width: 100vw;
}

section h3 {
    color: black;
    font-size: 3.5rem;
    text-align: center;
    font-weight: border;
}

.img_profile {
    /* margin: 1rem 1rem; */
    object-fit: fill;
    size: cover;
    width: 38vh;
    height: 50vh;
}

#sec_about .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
}

.div_about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    text-align:center;
    margin-left: 5vh;
    width: 40vw;
}

.div_about_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.div_about_subitem {
    width: 50%;
}

.div_subitem_info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 100%;
}

.img_subitem_icon {
    width: 5vh;
    height: 5vh;
    margin-top: .2rem;
    margin-right: 2rem;
}

.div_subitem_desc {
    text-align: left;
}


.p_subitem_desc_label {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    font-weight: 700;
}

.p_subitem_desc_value {
    font-weight: 400;
    font-size: 1rem;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 3rem; */
}

/* End About */

/* Skills */

#sec_skills {
    background-color: #ABDEE6;
    margin: 0 auto;
    width: 100vw;
}

#sec_skills .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    /* height: 15%; */
    margin-top: 2vh;
}

#sec_skills .div_bgrbox  {
    background-color: white;
    border-radius: 36px;
    width: 45%;
    height: 40vh;
    padding-top: 2vh;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.p_skills_title {
    font-size: 2rem;
    font-weight: bold;
    color: #ADBAC0;
    margin-top: .5rem;
    margin-left: 2rem;
}

.div_skills_division_line {
    border-top: .15rem solid #D1CCC8;
    margin-top: .8rem;
    margin-left: 2rem;
    width: 80%;
}

.img_skills {
    width: 100%;
    padding: 0% 10% 5% 5%;
}

/* End Skills */

/* Projects */

#sec_projects {
    background-color: #FFCCB6;
    width: 100vw;
    /* height: 100vh; */
}

#sec_projects .div_bgrbox {
    background-color: white;
    margin: 0 auto 2rem;
    padding: 3rem;
    border-radius: 1rem;
}

.div_project_title {
    font-size: 2rem;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: black;
    text-align: center;
}

.div_project_period {
    font-size: 1rem;
    font-weight: bold;
    color: #6c757d;
    text-align: center;
    opacity: .8;
    margin-bottom: 2rem;
}

.div_project_descbox {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.div_project_imgFrame {
    display: flex;
    flex-direction: column;
    align-items:start;
    /* margin-top: 10%; */
    width: 50%;
    height: 100%;
}

.img_project {
    width: 95%;
    margin: 0 2.5% 0 2.5%;
}

.div_project_imgChangeNavBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.div_project_preImg {
    margin: 0 3% 0 3%;
    font-weight: bold;
}

.div_project_pageImg {
    margin: 0 3% 0 3%;
    font-weight: bold;
}

.div_project_nextImg {
    margin: 0 3% 0 3%;
    font-weight: bold;
}

.div_project_descFrame {
    display: flex;
    flex-direction: column;
    align-items:start;
    /* margin-top: 10%; */
    margin-left: 2%;
    width: 48%;
    height: 100%;
}

.div_project_descMain {
    background-color: inherit;
    font-size: 1rem;
}

.div_project_descNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.div_project_desc_readme {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: .25rem;
    padding: .5rem 1rem;
    text-align: center;
    cursor: pointer;
    width: 45%;
}

.div_project_desc_deliverable {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: .25rem;
    padding: .5rem 1rem;
    text-align: center;
    cursor: pointer;
    width: 45%;
}

#sec_projects .div_division_line {
    border-top: 1px solid #D1CCC8;
    margin: 1rem auto;
    width: 100%;
}

.div_project_description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: .8rem;
}

.div_project_desc_label {
    display: inline-block;
    vertical-align: top;
    width: 8.4rem;
    font-weight: 900;
    font-size: 1rem;
}

.div_project_desc_label::before {
    content: "✔";
    display: inline;
    padding-right: 1rem;
}

.div_project_desc_value {
    display: inline-block;
    vertical-align: bottom;
    width: calc(100% - 8.4rem);
    font-weight: 400;
    font-size: 1rem;
}

#sec_projects a:visited {
    color: #258ddb;
}

/* End Projects */

/* Activity */

#sec_activity {
    background-color: rgb(243, 176, 195);
    width: 100vw;
    height: 100vh;
}

#sec_activity .div_bgrbox {
    background-color: white;
    margin: 0 auto 2rem;
    padding: 3rem;
    border-radius: 1rem;
}

/* End Activity */

/* Career */

#sec_career {
    background-color: #FFFFB5;
    width: 100vw;
    height: 100vh;
}

#sec_career .div_bgrbox {
    background-color: white;
    margin: 0 auto 2rem;
    padding: 3rem;
    border-radius: 1rem;
}

/* End Career */