/* section.css */

/* about */
#about {
    background-color: white;
}

section h3 {
    color: black;
    font-size: 3.5rem;
    text-align: center;
    font-weight: border;
}

.img_profile {
    /* margin: 1rem 1rem; */
    object-fit: fill;
    size: cover;
    width: 38vh;
    height: 50vh;
}

#about .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div_about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    text-align:center;
    margin-left: 5vh;
    width: 40vw;
}

.div_about_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.div_about_subitem {
    width: 50%;
}

.div_subitem_info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 100%;
}



.img_subitem_icon {
    width: 5vh;
    height: 5vh;
    margin-top: .2rem;
    margin-right: 2rem;
}

.div_subitem_desc {
    text-align: left;
}


.p_subitem_desc_label {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    font-weight: 700;
}

.p_subitem_desc_value {
    font-weight: 400;
    font-size: 1rem;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 3rem; */
}

/* End About */

/* Skills */

#skills {
    background-color: #ABDEE6;
    margin: 0 auto;
    width: 100vw;
    /* height: 100vh; */
}

#skills .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    /* height: 15%; */
    margin-top: 2vh;
}

#skills .div_bgrbox  {
    background-color: white;
    border-radius: 36px;
    width: 45%;
    height: 40vh;
    padding-top: 2vh;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.p_skills_title {
    font-size: 2rem;
    font-weight: bold;
    color: #ADBAC0;
    margin-top: .5rem;
    margin-left: 2rem;
}

.div_skills_division_line {
    border-top: .15rem solid #D1CCC8;
    margin-top: .8rem;
    margin-left: 2rem;
    width: 80%;
}

.img_skills {
    width: 100%;
    padding: 0% 10% 5% 5%;
}

/* End Skills */